[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/nuklear"]
	path = include/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "include/stb"]
	path = include/stb
	url = https://github.com/nothings/stb.git
[submodule "include/tinyobjloader"]
	path = include/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "include/VulkanMemoryAllocator"]
	path = include/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "include/glm"]
	path = include/glm
	url = https://github.com/g-truc/glm.git
[submodule "include/cppfs"]
	path = include/cppfs
	url = https://github.com/cginternals/cppfs.git
[submodule "include/tiny_behaviour"]
	path = include/tiny_behaviour
	url = https://github.com/devildevilson/tiny_behaviour.git
[submodule "include/filesystem"]
	path = include/filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "include/whereami"]
	path = include/whereami
	url = https://github.com/gpakosz/whereami.git
[submodule "include/dr_libs"]
	path = include/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "include/cxxopts"]
	path = include/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "include/protobuf"]
	path = include/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "include/lz4"]
	path = include/lz4
	url = https://github.com/lz4/lz4.git
